
  <style>

       /*.div{
      background-color:red;
      opacity:0.5;
      filter:Alpha(opacity=50); /* IE8 and earlier */
    /*  }*/

     /* #bunny{

      	opacity: 0.5;
      }*/

    </style>